 table{
     border-collapse: collapse;
     width: 30%;
 }

 th{
     border-radius: 7px 0px 0px 0px;
     color:white;

 }
 .table_head{
     background-color: darkgreen;
    
 }

 .grey{
     background-color: rgb(233, 233, 233);
 }
 th , td{
padding: 7px 10px 10px 10px;
 }
 td{
     text-align: center;
 }
 th:nth-child(3){
     width: 100px;
     text-align: right;
     
     
 }
 .price{
     text-align: right;
 }


