/* Add your CSS Below */
.one_b{
    position: relative;
    bottom: 15px;
    left: 15px;


   
}
.two_c{
    position: relative;
    left: 100px;
    bottom: 200px;
}

.three_a{
    position: relative;
    left: 1235px;
    top: 200px;
}